<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
<input type="text" name="email" id="email">
<input type="text" name="password" id="pasword">
<button type="submit" id="Log In">Log In</button>
</form>